{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p> Есть два вида электрических водонагревателей - проточные и накопительные. </p>
<p> Если у вас нет никаких ограничений по потребляемой электрической мощности (совсем никаких), то идеальный водогрей проточный. Судите сами: </p>
<ul>
    <li>низкая цена нагревателя,</li>
    <li>нет никакого бака, не занимает место,</li>
    <li>не ждать пока вода согреется,</li>
    <li>нагретая вода тут-же расходуется. </li>
</ul>

<a> К сожалению в реальном мире, подключение нагревателя киловат на пять (как небольшой сварочный аппарат) может мешать даже вашим соседям. И при этом сруйка теплой воды будет недостаточной. </a>
<p> Преимущества накопительного нагревателя неоспоримы: </p>
<ul>
    <li>нагрузка на электрическую сеть невелика и растянута во времени,</li>
    <li>в пределах емкости бака вы пользуетесь горячей водой как привыкли.</li>
</ul>
<p> Но и недостатки существенны: </p>
<ul>
    <li>дорогой нагреватель и дорогой монтаж,</li>
    <li>бак занимает место,</li>
    <li>нужен монтаж трубопровода и розетки.</li>
</ul>
<p> На первый взгляд, на пару недель в году подойдет и проточный нагреватель. Малую подачу горячей воды можно и  потерпеть. Но! А почему бы тогда не оставить все как есть, то есть как обычно в таких случаях, греть воду в чайнике. Это еще проще и дешевле. </p>
{% endblock %}