body{background:lightyellow;
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.container{
    width: 400px;
    margin: 0 auto; 

}
.container h1{
text-align: center;}

.container form{
    
}